@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Acorn';
  src: url('/fonts/Acorn-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@layer components {
  .hamburger-menu {
    @apply relative w-[100px] h-[56px] flex justify-center items-center top-0 right-0 p-3;
  }

  .hamburger-menu svg {
    @apply fill-none stroke-text stroke-[7px] rounded-full;
  }

  .hamburger-menu input {
    @apply absolute h-full w-full z-[2] cursor-pointer opacity-0;
  }

  .hamburger-menu use:first-of-type {
    @apply opacity-100 transition-all duration-200 ease-linear;
    stroke-dashoffset: 221;
    stroke-dasharray: 46 249;
  }

  .hamburger-menu input:checked + svg use:first-of-type {
    @apply opacity-0 transition-all duration-[0.14s] ease-linear;
    stroke-dashoffset: 175;
    stroke-dasharray: 0 295;
  }

  .hamburger-menu use:last-of-type {
    animation: stroke-animation-reverse 1.2s ease-out forwards;
  }

  .hamburger-menu input:checked + svg use:last-of-type {
    animation: stroke-animation 1.2s ease-out forwards;
  }

  .we > div {
    &:first-of-type {
      @apply md:ml-auto;
    }
    &:nth-of-type(2) {
      @apply md:ml-auto md:mr-[20%];
    }
    &:nth-of-type(3) {
      @apply md:ml-[20%];
    }
    &:last-of-type {
      @apply md:ml-0;
    }
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }
  50% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }
  65% {
    stroke-dashoffset: 59;
    stroke-dasharray: 59 236;
  }
  100% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }
}

@keyframes stroke-animation-reverse {
  0% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }
  50% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }
  65% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }
  100% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }
}

:root {
  --font-acorn: 'Acorn';
  --font-lato: 'Lato';

  --color-paper: 246 247 249;
  --color-navy-300: 215 223 234;
  --color-navy-400: 173 188 209;
  --color-navy-500: 75 108 155;
  --color-navy-600: 58 84 120;
  --color-navy-700: 35 56 49;
  --color-navy-800: 15 23 42;

  --color-hilite: 143 220 194;

  --color-leather-1: 169 135 112;
  --color-leather-2: 47 108 83;
  --color-leather-3: 116 84 62;

  --green: 2 90 78;

  --navbar: 255 255 255;
  --background: var(--color-paper);
  --text: var(--color-navy-700);
  --accent: var(--green);
  --gradient: linear-gradient(
    to bottom,
    rgba(var(--background), 0) 0%,
    rgba(var(--background), 0.013) 9.7%,
    rgba(var(--background), 0.049) 18.1%,
    rgba(var(--background), 0.104) 25.5%,
    rgba(var(--background), 0.175) 31.9%,
    rgba(var(--background), 0.259) 37.7%,
    rgba(var(--background), 0.352) 43%,
    rgba(var(--background), 0.45) 47.9%,
    rgba(var(--background), 0.55) 52.8%,
    rgba(var(--background), 0.648) 57.7%,
    rgba(var(--background), 0.741) 63%,
    rgba(var(--background), 0.825) 68.7%,
    rgba(var(--background), 0.896) 75%,
    rgba(var(--background), 0.951) 82.2%,
    rgba(var(--background), 0.987) 90.5%,
    rgb(var(--background)) 100%
  );
}



.animated-gradient {
  opacity: 0.5;
  background: linear-gradient(-45deg, #3D52A0, #7091E6, #8697C4, #ADBBDA, #EDE8F5);
  background-size: 300% 300%;
  animation: gradient 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}



.dark {
    --background: var(--color-navy-700);
    --accent: var(--color-hilite);
    --text: var(--color-paper);
    --navbar: 0 0 0;
    --gradient: linear-gradient(
            to bottom,
            rgba(39, 41, 59, 0) 0%,
            rgba(39, 41, 59, 0.013) 9.7%,
            rgba(39, 41, 59, 0.049) 18.1%,
            rgba(39, 41, 59, 0.104) 25.5%,
            rgba(39, 41, 59, 0.175) 31.9%,
            rgba(39, 41, 59, 0.259) 37.7%,
            rgba(39, 41, 59, 0.352) 43%,
            rgba(39, 41, 59, 0.45) 47.9%,
            rgba(39, 41, 59, 0.55) 52.8%,
            rgba(39, 41, 59, 0.648) 57.7%,
            rgba(39, 41, 59, 0.741) 63%,
            rgba(39, 41, 59, 0.825) 68.7%,
            rgba(39, 41, 59, 0.896) 75%,
            rgba(39, 41, 59, 0.951) 82.2%,
            rgba(39, 41, 59, 0.987) 90.5%,
            rgb(39, 41, 59) 100%
    );


}
